.headerContainer {
  display: flex;
  align-items: center;
  background-color: #f3f2f2;
  margin: 0 auto;
  padding: 20px;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerContainer-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.catBtn {
  display: none;
  margin-left: 20px;
}

.logo {
  width: 150px;
  padding: 0.5em 0;
  margin-right: 2rem;
}

.dark_icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.listItem {
  margin-left: 3.5em;
  color: #262626;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}

.active {
  color: #3164f4;
}

.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginButton {
  background-color: #ededed;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #262626;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.getStartedButton {
  background-color: #3164f4;
  border-radius: 20px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.buttonContainer {
  margin-left: auto;
}
